
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResimGuncelleIslemi</title>
</head>
<body>
    <div>
        <form action="/Home/ResimGuncelle" method="post" enctype="multipart/form-data">
            <input type="file" name="resim" accept=".jpg,.jpeg,.png" />
            <br /><br />
            <button type="submit">Ekle</button>
        </form>
    </div>
</body>
</html>
